{% extends 'portfolio/layout.html' %}

{% block main %}
<p style="font-size: 70px; font-weight: bold">Blog</p><br>
<p>Create authors and Articles </p>

{% load static %}
<br>
<button style="padding: 10px;background-color: turquoise;border-radius: 5px;"><a href="{% url 'portfolio:register-author' %}" style="text-decoration: none"> Register Author</a></button>
<button style="padding: 10px;background-color: turquoise;border-radius: 5px;"><a href="{% url 'portfolio:create-article' %}" style="text-decoration: none"> Create Article</a></button>
<br><br>
{% for article in articles %}
<div>
    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>
    <p>Authors:</p>
    {% for author in article.author.all %}
    <p>{{article.author}}</p>
    {% endfor %}
    <br><br>
    {% endfor %}
</div>
{% endblock %}