{% extends 'portfolio/layout.html' %}

{% block main %}

<div id="background">
    <h1>Diogo Rodrigues</h1>
    <p><br><br><br>
        I am a second year Bachelors student in <br>
        Computer Science Engineering.<br>

        I like programming and enjoy video games,<br>
        so I seek the opportunity to bridge the two. <br></p>

    <br><br><br><br><br>
    <a download href="CV_%5BEN%5D.pdf">
        <button style="padding: 10px; background: #6aa1fd" onclick=""> Download CV
        </button>
    </a>
    <br><br><br><br><br>
    <p style="font-size: 35px;font-weight: bold;color: rgba(0, 0, 0, 0.726);" id="progLang">Programming Languages</p>
    <!-- IS THE IMAGE TOO SMALL TO GET WHICH LANGUAGE IT IS???-->
    Java | JavaScript | C | C# <br>
    SQL | Kotlin | Python | Assembly
    <br><br><br><br><br><br>
    <p style="font-size: 35px;font-weight: bold;color: rgba(0, 0, 0, 0.726);" id="other">Other</p>
    HTML | CSS
    <br></div>

<br><br><br><br>
<div>
    <h1>Work Experience</h1><br>
    Internship
    Zentrum für Sonnenenergie- und Wasserstoff-Forschung Baden-Württemberg [ 07/2019 – 07/2019 ]
    City: Ulm
    Country: Germany
    <br><br><br><br>
    <p style="font-size: 40px; font-weight: bold">Education</p>
    <br>
    <h1>Engineering, BSc</h1><br>
    Universidade Lusófona de Humanidades e Tecnologias [ 2021 – Current ]
    Address: Lisbon (Portugal)
    <br><br><br><br>
    <h1>International Abitur</h1><br>
    Escola Alemã de Lisboa/Deutsche Schule Lissabon [ 2019 – 2021 ]
    Address: Lisbon (Portugal)
</div>


{% endblock %}